//Fonts
@font-face {
  font-family: "Gilroy_R";
  src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy_M";
  src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "Gilroy_B";
  src: url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy_SB";
  src: url(../fonts/Gilroy-SemiBold.ttf);
}

//Colors
$primary: #5744e3;
$text: #1e1e1e;
$subText: #8b8b8b;
$placeholder: #b1b1b1;
$border: #c1c1c1;
